<router-outlet></router-outlet>
<app-notification></app-notification>
<app-confirmation-dialog
  [isVisible]="(dialogData$ | async)?.visible || false"
  [title]="(dialogData$ | async)?.title || 'Confirm Action'"
  [message]="(dialogData$ | async)?.message || 'Are you sure?'"
  [confirmText]="(dialogData$ | async)?.confirmText || 'Confirm'"
  [cancelText]="(dialogData$ | async)?.cancelText || 'Cancel'"
  (confirmed)="onDialogResult($event)"
></app-confirmation-dialog>
<!-- taskkill /f /im java.exe -->